

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

button:active{
  scale: 95%;
}

.container{
  display: flex;
  flex-direction: column;
  width:100%;
  text-align: center;
  background-image: url('./images/books.jpg');
  height: 100vh;
  background-size:cover;
  background-position: center;
}

#header{
  background: #000;
  color: #a4a4a4;
  padding: 20px;
}

#header h2 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

#header button:hover {
  color: #e83a3a;
}

.header-control {
  display: flex;
  width: 100%;
  justify-content:center;
}

.header-control .btn {
  background: #000;
  color: #f4f4f4;
  border:0;
  margin:0 30px;
  font-size: 2em;
}

.header-control .center-split {
  flex: 1;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form-container {
  background-color: #f4f4f4;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #e83a3a;
}

.form-container h1 {
  text-align: center;
  font-size: 25px;
}

.log-form {
  width: 25vw;
  min-width: 200px;
}

.add-form {
  width: 70vw;
}

.log-form .form-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
}

.add-form .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 17px;
}

.form-fields .btn {
  font: inherit;
  border-radius: 15px;
  background: #000;
  color: #f4f4f4;
  border: none;
  text-align: center;
}

.form-fields .btn-log{
  width: 85%;
}

.form-fields .btn-add{
  width: 30%;
}

.form-fields button{
  padding: 3px;
  margin: 4px 0 8px 0;
}

.form-fields button:hover{
  background: #e83a3a;
}

.form-fields .form-control{
  display: block;
  font: inherit;
  width: 90%;
  text-align: left;
}

.add-form .form-fields .form-control{
  width: 45%;
}

.form-fields .form-control input{
  width: 100%;
  font:inherit;
  border-radius: 7px;
  border-width: 2px;
  border-color: #e83a3a;
  padding: 2px 4px;
  margin-bottom: 6px;
}

.form-fields .form-control label{
  display:block;
}
